$screen-size: mb, xs, sm, md, lg;
@each $screen in $screen-size {
   @if $screen == mb {
    @for $i from 1 through 12 {
      .col-#{$screen}-#{$i} {
        max-width: $i/12*100%;
      }
    }
  }
  @else if $screen !=lg or $screen != mb {
    @include respond(gt-#{$screen}) {
      @for $i from 1 through 12 {
        .col-#{$screen}-#{$i} {
          max-width: $i/12*100%;
        }
      }
    }
  }
  @else {
    @include respond(gt-md) {
      @for $i from 1 through 12 {
        .col-#{$screen}-#{$i} {
          max-width: $i/12*100%;
        }
      }
    }
  }
}

[class^='col'] {
  padding: 0 12px;
  width: 100%;
}

// *** Padding & Margins i*6 (i<=6)
$sizes: t, r, b, l, h, v, 0;
@each $size in $sizes {
  @for $i from 5 through 0 {
    @if $size != 0 {
      .m#{$size}#{$i * 6} {
        @if $size == t {
          margin-top: $i *6px;
        } @else if $size == r {
          margin-right: $i * 6px;
        } @else if $size == b {
          margin-bottom: $i * 6px;
        } @else if $size == l {
          margin-left: $i * 6px;
        } @else if $size == h {
          margin-left: $i * 6px;
          margin-right: $i * 6px;
        } @else if $size == v {
          margin-top: $i * 6px;
          margin-bottom: $i * 6px;
        }
      }
      .p#{$size}#{$i * 6} {
        @if $size == t {
          padding-top: $i *6px;
        } @else if $size == r {
          padding-right: $i * 6px;
        } @else if $size == b {
          padding-bottom: $i * 6px;
        } @else if $size == l {
          padding-left: $i * 6px;
        } @else if $size == h {
          padding-left: $i * 6px;
          padding-right: $i * 6px;
        } @else if $size == v {
          padding-top: $i * 6px;
          padding-bottom: $i * 6px;
        }
      }
    } @else if $size == 0 {
      .m#{$i * 6} { margin: $i * 6px; }
      .p#{$i * 6} { padding: $i * 6px; }
    }
  }
}
// Padding & Margins i*6 (i<=6) ***

.m-12 {
  margin-left: -12px;
  margin-right: -12px;
}

.mt-12 {
  margin-top: -12px;
}

.mt-auto {
  margin-top: auto;
}

.ltr { direction: ltr; }
.rtl { direction: rtl; }

.full-width { width: 100%; }

/* Flex Box Classes*/
.flex {
  display: flex;
  flex-wrap: wrap;

  &.inline {
    display: inline-flex;
  }
}

.flex-column,
.column {
  flex-direction: column;
}

.column-reverse { flex-direction: column-reverse; }

.wrap { flex-wrap: wrap; }
.no-wrap { flex-wrap: nowrap; }

.jc-start { justify-content: flex-start; }
.jc-end { justify-content: flex-end; }
.jc-center { justify-content: center; }
.jc-around { justify-content: space-around; }
.jc-between { justify-content: space-between; }

.ac-start { align-content: flex-start; }
.ac-end { align-content: flex-end; }
.ac-center { align-content: center; }
.ac-around { align-content: space-around; }
.ac-between { align-content: space-between; }

.ai-start { align-items: flex-start; }
.ai-end { align-items: flex-end; }
.ai-center { align-items: center; }
.ai-baseline { align-items: baseline; }
.ai-stretch { align-items: stretch; }

.as-start { align-self: flex-start; }
.as-end { align-self: flex-end; }
.as-center { align-self: center; }
.as-baseline { align-self: baseline; }
.as-stretch { align-self: stretch; }

.relative {
  position: relative;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

@for $i from 8 through 32 {
  .fz#{$i} {
    font-size: $i + px;
  }
}

.container {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  @include respond(gt-xs) {
    max-width: 800px;
  }
  @include respond(gt-sm) {
    max-width: 1100px;
  }
  @include respond(gt-md) {
    max-width: 1440px;
  }
}

.error {
  display: block;
  color: $red;
  font-size: 12px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px;
  font-size: 14px;
  height: 32px;
  background-color: $white;
  border: 1px solid $darken-gray;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

.form-group {
  margin-bottom: 12px;
}

.table-responsive {
  overflow-x: auto;
}
