@import 'helpers';

.card {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0px 2px 1px -1px rgba($black, .2),
    0px 1px 1px 0px rgba($black, .14),
    0px 1px 3px 0px rgba($black, .12);
}

.btn-icon {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: $white;
  transition: background-color .3s ease-in-out;

  &:disabled {
    background-color: rgba($white, .7);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 32px;
  color: $white;
  transition: background-color .3s ease-in-out;

  i {
    font-size: 24px;
  }

  i+span {
    margin-left: 6px;
  }
}

.btn-green {
  background-color: $green;

  &:hover {
    background-color: darken($green, 20%);
  }
}
.btn-red {
  background-color: $red;

  &:hover {
    background-color: darken($red, 20%);
  }
}
.btn-orange {
  background-color: $orange;

  &:hover {
    background-color: darken($orange, 20%);
  }
}

[class*="btn-"] {
  &:disabled {
    background-color: $darken-gray;
    cursor: not-allowed;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1px;

  .btn-icon:hover {
    background-color: darken($gray, 20%);
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px;
  background-color: rgba($black, .8);
  z-index: 1000;
  visibility: hidden;

  &.open {
    visibility: visible;
  }
}

.modal-content {
  width: 100%;
  max-width: 900px;
  box-shadow: 0px 2px 1px -1px rgba($black, .2),
    0px 1px 1px 0px rgba($black, .14),
    0px 1px 3px 0px rgba($black, .12);
  border-radius: 4px;
  overflow: hidden;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 12px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: $modal-header;
  color: $white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  h3 {
    width: calc(100% - 50px);
  }
}


.modal-body {
  max-height: 80vh;
  overflow-x: auto;
  background-color: $white;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $white;
  border-top: 1px solid $gray;

  button + button {
    margin-left: 12px;
  }

  .msg {
    color: $green;
    font-weight: 700;
  }
}
