@import 'helpers';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('./../../assets/images/AllTeams_header_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-top: 72px;
  font-family: 'Open Sans', sans-serif;

  &.no-scroll {
    overflow: hidden;
  }
}

th {
  text-align: left;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

@import 'shapes';
@import 'layout';
