@import 'helpers';

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;

  .menu-wrapper {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    box-shadow: 0px 2px 1px -1px rgba($black, .2),
      0px 1px 1px 0px rgba($black, .14),
      0px 1px 3px 0px rgba($black, .12);
  }

  a {
    display: inline-flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 48px;
    color: $nav-color;
    transition: background-color .3s ease-in-out,
                color .3s ease-in-out;

    &:hover {
      background-color: $nav-color;
      color: $white;
    }

    i {
      font-size: 24px;

      +span {
        margin-left: 6px;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    border-right: 1px solid $darken-gray;
  }
}
