@import 'helpers';

.players-list {
  background-color: $white;

  table {
    border-collapse: collapse;
  }

  th {
    line-height: 46px;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;

    i {
      opacity: 0;

      &.visible {
        opacity: 1;
      }
    }
  }

  td {
    padding: 6px;
  }

  thead tr,
  tr:not(:last-child) {
    border-bottom: 1px solid $darken-gray;
  }

  td:first-child {
    width: 100px;
  }

  img {
    display: block;
    width: 100%;
  }

  tbody tr {
    cursor: pointer;

    &:hover {
      background-color: $gray;
    }
  }
}

.players-filter {
  background-color: $white;
  padding: 6px;
  margin-bottom: 2px;
}
