@import 'helpers';

.game {
  display: flex;
  padding: 6px;
  margin-bottom: 2px;
  background-color: $white;

  &:last-child {
    margin-bottom: 0;
  }

  &.special {
    background-color: rgba($darken-gray, .9);
  }
}

.game-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;

  img {
    height: 60px;
  }
}

.game-details {
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .game-score {
    font-size: 30px;
    margin-bottom: 12px;
  }
}
