@import 'helpers';

.team {
  background-color: $white;
  padding-left: 6px;
  padding-right: 6px;
}

.team-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include respond(gt-sm) {
    justify-content: flex-start;
    width: 50%;
  }
}

.team-logo-wrapper {
  img {
    width: 80%;

    @include respond(gt-sm) {
      width: 100%;
    }
  }
}

.team-info {
  @include respond(gt-sm) {
    margin-left: 30px;
  }
}

.team-statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 12px;

  @include respond(gt-sm) {
    width: 50%;
    justify-content: flex-end;

    >div:last-child {
      margin-left: 30px;
    }
  }
}

.history-of-games {
  background-color: $white;
  border-bottom: 1px solid $darken-gray;
  font-weight: 700;
  padding: 6px;
  margin-top: 24px;

  @include respond(gt-sm) {
    margin-top: 0;
  }
}
