<template>
  <div>
    <div class="container mt24">
      <div class="flex m-12 jc-center">
        <div class="col-sm-8">
          <div class="flex mt-12 m-12">
            <div
              class="col-xs-6 col-sm-4 p12 flex"
              v-for="team in teams"
            >
              <router-link
                :to="'/team/' + team.id"
                class="card team flex ai-center jc-center"
              >
                <div class="text-center">
                  <img
                    :src="team.logo_url"
                    :alt="team.name"
                  >
                  <h4>{{team.name}}</h4>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AllTeams',
    computed: {
      teams() {
        return this.$store.state.teams;
      }
    }
  }
</script>

<style lang="scss">
  @import './../styles/AllTeams';
</style>
