<template>
  <nav class="navigation">
    <div class="container">
      <div class="menu-wrapper">
        <ul>
          <li>
            <router-link :to="'/'">
              <i class="mdi mdi-home"></i>
              <span>Home</span>
            </router-link>
          </li>
        </ul>
        <button
          type="button"
          @click="addNewGameResult"
          class="btn btn-green mr12"
        >
          <i class="mdi mdi-plus"></i>
          <span>Add Game Result</span>
        </button>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    name: 'Navigation',
    methods: {
      addNewGameResult() {
        this.$parent.$refs.newGame.addNewGameResult();
      }
    },
  }
</script>

<style lang="scss">
  @import './../styles/Navigation';
</style>
