<template>
  <div
    class="modal"
    :class="{ open: newGameResult}"
  >
    <div
      class="modal-content"
      v-if="newGameResult"
    >
      <form @submit.prevent="saveNewGameResult">
        <div class="modal-header">
          <h3>Add New Game Result</h3>
          <button
            class="btn-icon"
            type="button"
            @click="closeNewGameResult"
          ><i class="mdi mdi-close mdi-24px"></i></button>
        </div>
        <div class="modal-body">
          <div class="flex m-12 jc-center ai-center">
            <div class="col-xs-5">
              <div class="form-group">
                <label>Team One</label>
                <select
                  class="form-control"
                  v-validate="'required'"
                  name="team_one_id"
                  v-model="newGameResult.team_one_id"
                >
                  <option
                    value=""
                    selected
                    disabled
                  >
                    Select a team
                  </option>
                  <option
                    :value="team.id"
                    v-for="team in teams"
                  >{{ team.name }}</option>
                </select>
                <span class="error">{{ errors.first('team_one_id') }}</span>
              </div>
              <div class="form-group">
                <label>Team One Goals</label>
                <input
                  class="form-control"
                  type="text"
                  name="team_one_goals"
                  v-model="newGameResult.team_one_goals"
                  v-validate="{rules: {required: true, numeric: true}}"
                >
                <span class="error">{{ errors.first('team_one_goals') }}</span>
              </div>
            </div>
            <div class="col-xs-2 flex column ai-center jc-center">
              <span>VS</span>
            </div>
            <div class="col-xs-5">
              <div class="form-group">
                <label>Team Two</label>
                <select
                  class="form-control"
                  v-model="newGameResult.team_two_id"
                  name="team_two_id"
                  v-validate="'required'"
                >
                  <option
                    value=""
                    selected
                    disabled
                  >
                    Select a team
                  </option>
                  <option
                    :value="team.id"
                    v-for="team in teams"
                  >{{ team.name }}</option>
                </select>
                <span class="error">{{ errors.first('team_two_id') }}</span>
              </div>
              <div class="form-group">
                <label>Team One Goals</label>
                <input
                  class="form-control"
                  type="text"
                  v-model="newGameResult.team_two_goals"
                  name="team_two_goals"
                  v-validate="{rules: {required: true, numeric: true}}"
                >
                <span class="error">{{ errors.first('team_two_goals') }}</span>
              </div>
            </div>
            <div class="col-xs-6">
              <label>Date</label>
              <input
                type="text"
                v-validate="{rules: {required: true, date_format: 'DD/MM/YYYY'}}"
                placeholder="DD/MM/YYYY"
                v-model="newGameResult.date"
                name="date"
                class="form-control"
              >
              <span class="error">{{ errors.first('date') }}</span>
            </div>
          </div>
        </div>
        <div class="modal-footer flex ai-center jc-between">
          <div class="msg">
            {{success ? 'New game added !' : ''}}
          </div>
          <div class="flex ai-center">
            <button
              type="button"
              class="btn btn-red"
              @click="closeNewGameResult"
            >
              <i class="mdi mdi-close"></i>
              <span>Cancel</span>
            </button>
            <button
              type="submit"
              class="btn btn-green"
              :disabled="errors.items.length > 0"
              id="submit_button"
            >
              <i class="mdi mdi-content-save"></i>
              <span>Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'NewGame',
    data() {
      return {
        newGameResult: null,
        success: false
      }
    },
    methods: {
      addNewGameResult() {
        this.newGameResult = {};
        this.success = false;
        document.body.classList.add('no-scroll');
      },
      saveNewGameResult($event) {
        $event.target.querySelector('#submit_button').disabled = true;
        this.$validator.validateAll().then((result) => {
          if (result) {
            var dataToSend = JSON.parse(JSON.stringify(this.newGameResult));
            dataToSend.date = moment(dataToSend.date, 'DD-MM-YYYY').format();
            this.$apiCallService.post('teams/games/new', dataToSend)
              .then(response => {
                this.success = true;
                setTimeout(() => {
                  this.closeNewGameResult();
                }, 1500);
              })
              .catch(error => (console.log(error)));
            return;
          }
        });
      },
      closeNewGameResult() {
        this.newGameResult = null;
        document.body.classList.remove('no-scroll');
      }
    },
    computed: {
      teams() {
        return this.$store.state.teams;
      }
    }
  }
</script>

<style lang="scss">
  @import './../styles/Navigation';
</style>
