<template>
  <div>
    <form class="players-filter">
      <div class="flex m-12">
        <div class="col-xs-6">
          <div class="form-group">
            <label>Name:</label>
            <input
              type="text"
              name="name"
              class="form-control"
              v-model="filterOptions.name"
            >
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label>Under (age):</label>
            <input
              type="text"
              name="age"
              class="form-control"
              v-model="filterOptions.age"
            >
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label>Position:</label>
            <select
              name="position"
              class="form-control"
              v-model="filterOptions.position"
            >
              <option
                value=""
                selected
              >Select position</option>
              <option
                :value="position"
                v-for="position in filterPositions"
              >{{ position }}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label>Nationality:</label>
            <select
              name="nationality"
              class="form-control"
              v-model="filterOptions.nationality"
            >
              <option
                value=""
                selected
              >Select nationality</option>
              <option
                :value="nationality"
                v-for="nationality in filterNationalities"
              >{{ nationality }}</option>
            </select>
          </div>
        </div>
        <div class="col-mb-6 col-xs-3">
          <div class="form-group">
            <label>Min Value:</label>
            <input
              type="number"
              name="min_value"
              class="form-control"
              v-model="filterOptions.min_value"
            >
          </div>
        </div>
        <div class="col-mb-6 col-xs-3">
          <div class="form-group">
            <label>Max Value:</label>
            <input
              type="number"
              name="max_value"
              class="form-control"
              v-model="filterOptions.max_value"
            >
          </div>
        </div>
        <div class="col-xs-2 flex ai-end">
          <button
            type="button"
            class="btn btn-orange mb12 full-width"
            @click="resetFilter"
          >
            <i class="mdi mdi-refresh"></i>
            <span>Reset</span>
          </button>
        </div>
      </div>
    </form>
    <div class="players-list table-responsive">
      <table class="full-width">
        <thead>
          <tr>
            <th>
            </th>
            <th @click="sortBy = 'nationality'">
              Nationality
              <i
                class="mdi mdi-sort"
                :class="{visible : sortBy === 'nationality'}"
              ></i>
            </th>
            <th @click="sortBy = 'name'">
              Name
              <i
                class="mdi mdi-sort"
                :class="{visible : sortBy === 'name'}"
              ></i>
            </th>
            <th @click="sortBy = 'age'">
              Age
              <i
                class="mdi mdi-sort"
                :class="{visible : sortBy === 'age'}"
              ></i>
            </th>
            <th @click="sortBy = 'position'">
              Position
              <i
                class="mdi mdi-sort"
                :class="{visible : sortBy === 'position'}"
              ></i>
            </th>
            <th
              @click="sortBy = 'value'"
              class="text-right"
            >
              <i
                class="mdi mdi-sort"
                :class="{visible : sortBy === 'value'}"
              ></i>
              Value
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="player in computedPlayers"
            @click="selectPlayer(player)"
          >
            <td><img
                :src="player.flag_url"
                alt=""
              ></td>
            <td>{{ player.nationality }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.age }}</td>
            <td>{{ player.position }}</td>
            <td class="text-right">{{ player.value | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <PlayerStats
      :selectedPlayer="selectedPlayer"
      :returnTeamLogo_url="$props.returnTeamLogo_url"
      v-if="selectedPlayer"
    ></PlayerStats>
  </div>
</template>

<script>
  import PlayerStats from './PlayerStats';

  export default {
    name: 'PlayersList',
    props: ['returnTeamLogo_url'],
    components: {
      PlayerStats
    },
    created() {
      this.getPlayers();
    },
    data() {
      return {
        players: [],
        selectedPlayer: null,
        filterNationalities: [],
        filterPositions: [],
        filterOptions: {
          name: '',
          age: '',
          position: '',
          nationality: '',
          min_value: '',
          max_value: ''
        },
        sortBy: 'nationality'
      }
    },
    methods: {
      getPlayers() {
        this.$apiCallService.post('teams/players', {
            team_id: this.$route.params.id
          })
          .then(response => {
            this.players = response.data.data;
            this.players.forEach(player => {
              if (this.filterNationalities.indexOf(player.nationality) == -1) {
                this.filterNationalities.push(player.nationality);
              }
              if (this.filterPositions.indexOf(player.position) == -1) {
                this.filterPositions.push(player.position);
              }
            });
          })
          .catch(error => (console.log(error)));
      },
      selectPlayer(player) {
        this.selectedPlayer = player;
        document.body.classList.add('no-scroll');
      },
      resetFilter() {
        for (var index in this.filterOptions) {
          this.filterOptions[index] = '';
          this.sortBy = 'nationality';
        }
      }
    },
    computed: {
      computedPlayers() {
        var fo = this.filterOptions;
        var playersToShow = this.players.filter(function(player) {
          if (
            (fo.name && !player.name.toLowerCase().includes(fo.name.toLowerCase())) || // return player name that contains .foo
            (fo.age && parseInt(fo.age) < player.age) || // return player age under .foo
            (fo.position && fo.position !== player.position) || // return player position = .foo
            (fo.nationality && fo.nationality !== player.nationality) || // return player nationality = .foo
            (fo.min_value && parseInt(fo.min_value) > player.value) || // return player over min_value
            (fo.max_value && parseInt(fo.max_value) < player.value) // return player under max_value
          ) {
            return false;
          }
          return true;
        });
        var _this = this;
        if (this.sortBy) {
          if (this.sortBy === 'age' || this.sortBy === 'value') {
            playersToShow.sort(function(a, b) {
              return a[_this.sortBy] - b[_this.sortBy];
            });
          } else {
            playersToShow.sort(function(a, b) {
              var nameA = a[_this.sortBy];
              var nameB = b[_this.sortBy];
              if (nameA.toLowerCase() < nameB.toLowerCase()) {
                return -1;
              }
              if (nameA > nameB) {
                return 1;
              }
              return 0;
            });
          }
        }

        return playersToShow;
      }
    }
  }
</script>

<style lang="scss">
  @import './../styles/PlayersList';
</style>
