<template>
  <div
    class="modal"
    :class="{ open: selectedPlayer}"
  >
    <div
      class="modal-content"
    >
      <div class="modal-header">
        <h3>{{selectedPlayer.name}}</h3>
        <button
          class="btn-icon"
          type="button"
          @click="closeSelectedPlayer"
        ><i class="mdi mdi-close mdi-24px"></i></button>
      </div>
      <div class="modal-body">
        <div class="flex">
          <div
            class="text-center p24"
            v-for="history in selectedPlayer.history"
          >
            <img
              :src="returnTeamLogo_url(history.team_id)"
              alt=""
              height="60"
            >
            <div>{{history.apps}} <span>apps</span></div>
            <div>{{history.goals}} <span>goals</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'PlayerStats',
    props: ['selectedPlayer', 'returnTeamLogo_url'],
    methods: {
      closeSelectedPlayer() {
        this.$parent.selectedPlayer = null;
        document.body.classList.remove('no-scroll');
      },
    }
  }
</script>
