<template>
  <div>
    <div
      class="games-list"
      v-if="gamesToShow.length > 0"
    >
      <div
        class="game flex"
        :class="{special: game.team_one_id === game.team_two_id}"
        v-for="game in gamesToShow"
      >
        <div class="game-team">
          <img
            :src="returnTeamLogo_url(game.team_one_id)"
            alt=""
          >
        </div>
        <div class="game-details">
          <div class="game-score">
            <span>{{game.team_one_goals}}</span>
            <span>-</span>
            <span>{{game.team_two_goals}}</span>
          </div>
          <div>{{ game.date | moment("DD/MM/YY") }}</div>
        </div>
        <div class="game-team">
          <img
            :src="returnTeamLogo_url(game.team_two_id)"
            alt=""
          >
        </div>
      </div>
    </div>
    <div class="pagination">
      <button
        type="button"
        class="btn-icon"
        @click="gamesPageIndex -= 1"
        :disabled="gamesPageIndex === 0"
      >
        <i class="mdi mdi-chevron-left"></i>
      </button>
      <button
        type="button"
        class="btn-icon"
        @click="gamesPageIndex += 1"
        :disabled="gamesPageIndex === (gamesTotalPage - 1)"
      >
        <i class="mdi mdi-chevron-right"></i>
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TeamHistory',
    props: ['returnTeamLogo_url'],
    data() {
      return {
        gameAsTeamOne: [],
        gameAsTeamTwo: [],
        gamesPageIndex: 0,
        gamesTotalPage: null
      }
    },
    created() {
      this.getGames();
    },
    methods: {
      getGames() {
        this.$apiCallService.post('teams/games', {
            team_one_id: this.$route.params.id
          })
          .then(response => {
            this.gameAsTeamOne = response.data.data;
          })
          .catch(error => (console.log(error)));

        this.$apiCallService.post('teams/games', {
            team_two_id: this.$route.params.id
          })
          .then(response => {
            this.gameAsTeamTwo = response.data.data;
          })
          .catch(error => (console.log(error)));
      }
    },
    computed: {
      games() {
        var computedGames;
        computedGames = this.gameAsTeamOne;

        // Merge games as teamOne and teamTwo
        for (var i = 0; i < this.gameAsTeamTwo.length; i++) {
          var duplicated = false;
          for (var j = 0; j < this.gameAsTeamOne.length; j++) {
            if (this.gameAsTeamTwo[i].id === this.gameAsTeamTwo[j].id) {
              duplicated = true;
              break;
            }
          }
          if (!duplicated) {
            computedGames.push(this.gameAsTeamTwo[i]);
          }
        }

        // Sort games by date (Recent first);
        computedGames.sort(function(a, b) {
          return new Date(b.date) - new Date(a.date);
        });

        // TODO: splice array into 10 items and show only 10 per list with pagination;
        this.gamesTotalPage = Math.ceil(computedGames.length / 10);
        return computedGames;
      },
      gamesToShow() {
        return this.games.slice(this.gamesPageIndex * 10, (this.gamesPageIndex + 1) * 10);
      },
    }
  }
</script>

<style lang="scss">
  @import './../styles/TeamHistory';
</style>
