<template>
  <div>
    <header
      :style="{backgroundColor: teamBackgroundColor}"
      v-if="team"
    >
      <div class="container pv30">
        <div class="flex team">
          <div class="team-info-wrapper">
            <div class="team-logo-wrapper">
              <img
                :src="team.logo_url"
                alt=""
              >
            </div>
            <div class="team-info flex column jc-center">
              <h2>{{team.name}}</h2>
              <div><b class="mr6">City:</b>{{team.city}}</div>
              <div><b class="mr6">Founded in:</b>{{team.founded}}</div>
              <div><b class="mr6">Budget:</b>{{team.budget | currency}}</div>
            </div>
          </div>
          <div class="team-statistics">
            <div class="flex column jc-center ai-center">
              <img
                src="./../../assets/svg/soccer-ball.svg"
                alt=""
                height="60px"
              >
              <h4 class="mt6">Total Goals: {{teamTotalGoals}}</h4>
            </div>
            <div class="flex column jc-center ai-center">
              <img
                src="./../../assets/svg/award.svg"
                alt=""
                height="60px"
              >
              <h4 class="mt6">Total Points: {{teamTotalPoints}}</h4>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container mv24">
      <div class="flex m-12">
        <div class="col-sm-8">
          <PlayersList :returnTeamLogo_url="returnTeamLogo_url"></PlayersList>
        </div>
        <div class="col-sm-4">
          <div class="history-of-games text-right">
            History of Games:
          </div>
          <TeamHistory
            :returnTeamLogo_url="returnTeamLogo_url"
            ref="teamHistory"
          ></TeamHistory>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import PlayersList from './PlayersList';
  import TeamHistory from './TeamHistory';

  export default {
    name: 'Team',
    components: {
      PlayersList,
      TeamHistory,
    },
    created() {
      this.getTeamInfo();
    },
    data() {
      return {
        team: null
      }
    },
    methods: {
      getTeamInfo() {
        this.$apiCallService.post('https://alphafx-code-test-api.herokuapp.com/api/teams', {
            id: this.$route.params.id
          })
          .then(response => {
            if (!response.data.success) {
              this.$router.push('/');
            } else {
              this.team = response.data.data[0];
            }
          })
          .catch(error => (console.log(error)));
      },
      returnTeamLogo_url(teamId) {
        if (this.team && this.teams.length > 0) {
          if (teamId == this.$route.params.id) {
            return this.team.logo_url;
          } else {
            var currentTeam = this.teams.find(team => team.id === teamId);
            return currentTeam.logo_url;
          }
        }
      }
    },
    computed: {
      teamTotalGoals() {
        var totalGoals = 0;
        var this_ = this;
        this.$refs.teamHistory.games.forEach(game => {
          if ((game.team_one_id === this_.team.id) && game.team_one_goals > 0)
            totalGoals += game.team_one_goals;
          if ((game.team_two_id === this_.team.id) && game.team_two_goals > 0)
            totalGoals += game.team_two_goals;
        });

        return totalGoals;
      },
      teamTotalPoints() {
        var totalPoints = 0;
        var this_ = this;
        this.$refs.teamHistory.games.forEach(game => {
          if (game.team_one_id !== game.team_two_id) { // calculate total points only if playing with other team
            // TODO: Improve with DRY concept - find a way to refactor code;
            if (game.team_one_id === this_.team.id) {
              if (game.team_one_goals > game.team_two_goals) {
                totalPoints += 3;
              } else if (game.team_one_goals === game.team_two_goals) {
                totalPoints += 1;
              }
            }

            if (game.team_two_id === this_.team.id) {
              if (game.team_one_goals < game.team_two_goals) {
                totalPoints += 3;
              } else if (game.team_one_goals === game.team_two_goals) {
                totalPoints += 1;
              }
            }
          }
        });

        return totalPoints;
      },
      teamBackgroundColor() {
        var isTypeHex = /^[0-9A-F]{6}$/i.test(this.team.colour);
        if (isTypeHex)
          return '#' + this.team.colour;
        else
          return this.team.colour;
      },
      teams() {
        return this.$store.state.teams;
      }
    }
  }
</script>

<style lang="scss">
  @import './../styles/Team';
</style>
