<template>
  <div id="app">
    <Navigation></Navigation>
    <NewGame ref="newGame"></NewGame>
    <router-view />
  </div>
</template>

<script>
  import Navigation from './Components/Navigation';
  import NewGame from './Components/NewGame';

  export default {
    name: 'App',
    components: {
      Navigation,
      NewGame
    },
    created() {
      this.$store.dispatch('fetchTeams');
    },
    data() {
      return {
        newGameResult: null,
        success: false,
      }
    }
  }
</script>
